.kuDashboard__item.-notAvailable {

	& .kuDashboard__item__content {
		display: flex;
		align-items: center;
		justify-content: center;

		& .notAvailable {
			margin: auto;
			// top: 0;
			// left: 0;
			// right: 0;
			// bottom: 0;
			// position: absolute;

			width: 100%;
			max-width: 150px;

			color: #999999;
			font-size: 16px;
			text-align: center;
		}
	}	
}