// 1600 window
// 1292 cotainer
// 420x285
// 330x220
$--width:  420/1292 * 100%; 
$--height: 285/1600 * 100vw; 

.kuDashboard__item {
	margin: 10px auto;
	padding: 20px;
	padding-bottom: 10px;

	width: $--width;
	min-width: 380px;
	max-width: 420px;
	height: $--height;
	min-height: 261px;
	max-height: 285px;


	display: flex;
	flex-direction: column;

	&.loading {

		& .kuDashboard__item {

			&__header, &__footer, &__content > * {
				border: none;
				position: relative;

				&::after {
					content: '';
					height: 100%;
					width: 100%;

					margin: auto;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					position: absolute;
					border-radius: 8px;
					background-color: rgb(231, 232, 233);
					z-index: 2;
				}

			}
		}
	}

	&__header {
		padding-bottom: 2px;
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: space-between;

		border-bottom: 1px solid #122448;

		&__title {
			margin: 0;

			font-size: 16px;
			font-weight: 600;
			text-align: left;
		}

		&__link {
			text-decoration: none!important;

			& i {
				font-size: 15px;
			}
		}
	}

	&__content {
		padding: 10px 0;
		padding-right: 5px;
		
		height: 100%;
		width: 100%;
	
		overflow-x: hidden; 
	}

	&__footer {
		margin: auto;
		margin-bottom: 0;
		display: block;

		width: 100%;
		height: 20px;

		&__link {
			display: block;

			margin: auto;
			margin-right: 0;

			color: #122448;
			font-size: 14px;
			font-weight: 600;
			text-align: right;
		}
	}

	@media (max-width: 450px) {
		min-width: initial;
		width: 100%;

		border: none;
		box-shadow: initial;
		border-radius: 0;

		&__header {

			& * {
				font-size: 14px!important;
				line-height: 1;
			}
		}

		&__content {

			& * {
				font-size: 13px!important;
				line-height: 1;
			}
		}

		&.-comingSoon {
			display: none;
		}
	}
}