$--paddingResponsive: 15/650 * 100vw;
.kuDashboard {
	display: flex;
	width: 100%;

	& .kuDashboard__main {
		width: calc(100% - 230px);
		height: calc( 100vh - 70px);
		// overflow-y: auto;
	}

	& .kuDashboard__grid {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
	}

	@media (max-width: 650px) {

		& .kuDashboard__main {
			padding: $--paddingResponsive;
			width: 100%;
		}
	}

	@media (max-width: 450px) {

		& .kuDashboard__main {
			padding: $--paddingResponsive 0;
		}
	}
}