.kuHeader__menu__sign {
	width: auto;
	height: 100%;
	position: relative;

	& .nav-item {
		height: inherit;

		margin: 0 15px;
		margin-left: 0;

		list-style: none;

		& .nav-link {
			padding: 0 20px;
			padding-left: 40px;
			height: inherit;

			display: flex;
			align-items: center;
			justify-content: center;

			color: #122448;
			font-size: 16px;
			font-weight: 600;
			text-align: center;
			text-transform: capitalize;

			transition: .2s ease;

			&:hover, &:focus, &:active {
				color: #122448;
			}

			& i {
				margin: 0;
				margin-right: 10px;
			}
		}
	}

	&::before {
		content: '';
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		// right: 0;
		bottom: 0;

		width: 0px;
		height: 10px;
		border: 1px solid #486973;
	}


	@media (max-width: 450px) {
		display: none;
	}
}